body {
    font-family: Arial, sana-serif;
    margin: 0;
    padding: 10px;
    background-color: #c88080;
}

header{
    text-align: center;
    margin-bottom: 20px;
}

main {
    display: block;
}

section {
    maring-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
}

h2 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

/*desktop sections*/
@media (min-width: 900px) {
    body{
        padding: 40px;
        max-width: 1200px;
        margin: 0 auto;
    }

    header {
        text-align: left;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 20px;
    }

    #objective {
        grid-column: 1 / -1;
    }
}